# Root level ignore 
*.log
*.tmp

# OS file
.DS_Store
Thumbs.db

# Build artifacts
*.pyc
__pycache__/

# Training model
backend/models/*.joblib
backend/models/training_data_v1.csv
backend/models/ml_metrics.json